extends layout

block content
   
   .container-fluid
        h1= title 
        .row#kaker
            h3 Kaker
            p Noe godt og søtt til slutt? Vi serverer smakfulle napoleonskaker, kringler og kransekaker. Skulle det være noen andre ønsker er vi svært imøtekommende.
            .col-xs-4
                img(src='http://placehold.it/300x200', alt='Kransekake')
                p Kransekake
              
        
            .col-xs-4
                img(src='http://placehold.it/300x200', alt='Kringle')
                p Kringle
        
        
            .col-xs-4
                img(src='http://placehold.it/300x200', alt="Napoleonskake")
                p Napoleonskake
                
        .row        
            p Vi fører også store og flotte bløtekaker i følgende prisklasser og størrelser:        
            ul
                li str1) 1 lag 7 - 8 pers kr 275
                li str2) 1 lag 10 - 12 pers kr 390            
                li str3) 2 lag 16 pers kr 480
                li str4) 2 lag 20 pers kr 560
                li str5) 2 lag 24 pers kr 630            
                li str6) 2 lag 30-35 pers kr 990
                li str7) 2 lag 40-45 pers kr 1190            
            p Etter ett smakfullt måltid er det alltid godt å avslutte med noe søtt. Vi har satt i sammen en dessertmeny som vi håper faller i smak. Merk at hver at dessert rettene koster kun kr 59,-.    
        
        .row#spesialiteter    
            h3 Våre Spesialiteter
            .col-xs-3
                img(src='http://placehold.it/200x200', alt="Hjemmelaget karamellpudding")
                p Hjemmelaget karamellpudding
                p Karamellpudding er trolig verdens mest serverte festdessert, og spises over hele kloden.
            
            
            .col-xs-3
                img(src='http://placehold.it/200x200', alt="Vanilje pannacotta med skogsbær")
                p Vanilje pannacotta med skogsbær
                        
                
            .col-xs-3
                img(src='http://placehold.it/200x200', alt="Friske jordbær med vaniljekrem/is")
                p Friske jordbær med vaniljekrem/is
                
                
            .col-xs-3
                img(src='http://placehold.it/200x200', alt="Creme brulèt m/skogsbær")
                p Creme brulèt m/skogsbær
                
        
        .row    
            .col-xs-3
                img(src='http://placehold.it/200x200', alt="Fromasj; jordbær-sitron-sjokolade")
                p Fromasj; jordbær-sitron-sjokolade
                
                 
            .col-xs-3
                img(src='http://placehold.it/200x200', alt="Ostekake")
                p Ostekake
        
                
                   
            .col-xs-3
                img(src='http://placehold.it/200x200', alt="Brownies")
                p Brownies