extends layout

block content
  h1= title
   .row.demo-tiles
        .col-xs-3
          .tile
            img.tile-img.bigillustration(src="images/icons/svg/compas.svg", alt="Compas")
            .h3.tile-title(Web Oriented)
            p 100% convertable to HTML/CSS layout.
            a.btn.btn-primary.btn-large.btn-block(href="http://designmodo.com/flat") Get Pro
          

        .col-xs-3
          .tile
            img.tile-img.bigillustration(src="images/icons/svg/compas.svg", alt="Compas")
            .h3.tile-title(Web Oriented)
            p 100% convertable to HTML/CSS layout.
            a.btn.btn-primary.btn-large.btn-block(href="http://designmodo.com/flat") Get Pro

        .col-xs-3
          .tile
            img.tile-img.bigillustration(src="images/icons/svg/compas.svg", alt="Compas")
            .h3.tile-title(Web Oriented)
            p 100% convertable to HTML/CSS layout.
            a.btn.btn-primary.btn-large.btn-block(href="http://designmodo.com/flat") Get Pro

        .col-xs-3
          .tile.hot
            img.tile-img.bigillustration(src="images/icons/svg/compas.svg", alt="Compas")
            .h3.tile-title(Web Oriented)
            p 100% convertable to HTML/CSS layout.
            a.btn.btn-primary.btn-large.btn-block(href="http://designmodo.com/flat") Get Pro

        
    

