extends layout

block content
    .container-fluid
        h1= title
    
        .row
            img(src='http://placehold.it/300x200', alt="Gorine")
            p Gorine kan tilby mye godt av både salater og pålegg. I våre produkter bruker vi friske råvarer og naturlige ingredienser. Gorine finner du i flere dagligvarebutikker.
            p Gorine har fått ny drakt og vårt utvalg av Gorinesalater finner du i disse boksene.
                
             
        .row      
            .col-xs-2
                img(src='http://placehold.it/100x100', alt="Rekesalat")       
                p Rekesalat    
        
            .col-xs-2
                img(src='http://placehold.it/100x100', alt="Potetsalat")
                p Potetsalat
            
            
            .col-xs-2
                img(src='http://placehold.it/100x100', alt="Italiensk salat")
                p Italiensk salat
        
        
            .col-xs-2
                img(src='http://placehold.it/100x100', alt="Crabstick")
                p Crabstick
                
                
            
        .row      
            .col-xs-2
                img(src='http://placehold.it/100x100', alt="Kreolsk Kyllingssalat")   
                p Kreolsk Kyllingssalat
                
        
            .col-xs-2
                img(src='http://placehold.it/100x100', alt="Eggesalat med reker")
                p Eggesalat med reker
            
            
            .col-xs-2
                img(src='http://placehold.it/100x100', alt="Krepsesalat")
                p Krepsesalat
        
        
            .col-xs-2
                img(src='http://placehold.it/100x100', alt="Eggesalat")
                p Eggesalat