extends layout

block content
    .container-fluid
        h1= title
    
        .row
            img(src='http://www.maxicatering.no/img/logo-gorine.png', width="300px", height="200px", alt="Gorine")
            p Gorine kan tilby mye godt av både salater og pålegg. I våre produkter bruker vi friske råvarer og naturlige ingredienser. Gorine finner du i flere dagligvarebutikker.
            p Gorine har fått ny drakt og vårt utvalg av Gorinesalater finner du i disse boksene.
                
             
        .row      
            .col-xs-2
                img(src='http://www.retthjem.no/images/shop/xxsmall/32728249.jpg', alt="Rekesalat")       
                p Rekesalat    
        
            .col-xs-2
                img(src='http://www.retthjem.no/images/shop/xxsmall/32728249.jpg', alt="Potetsalat")
                p Potetsalat
            
            
            .col-xs-2
                img(src='http://www.retthjem.no/images/shop/xxsmall/32728249.jpg', alt="Italiensk salat")
                p Italiensk salat
        
        
            .col-xs-2
                img(src='http://www.retthjem.no/images/shop/xxsmall/32728249.jpg', alt="Crabstick")
                p Crabstick
                
                
            
        .row      
            .col-xs-2
                img(src='http://www.retthjem.no/images/shop/xxsmall/32728249.jpg', alt="Kreolsk Kyllingssalat")   
                p Kreolsk Kyllingssalat
                
        
            .col-xs-2
                img(src='http://www.retthjem.no/images/shop/xxsmall/32728249.jpg', alt="Eggesalat med reker")
                p Eggesalat med reker
            
            
            .col-xs-2
                img(src='http://www.retthjem.no/images/shop/xxsmall/32728249.jpg', alt="Krepsesalat")
                p Krepsesalat
        
        
            .col-xs-2
                img(src='http://www.retthjem.no/images/shop/xxsmall/32728249.jpg', alt="Eggesalat")
                p Eggesalat