extends layout

block content
  h1= title
    //Sett sammen alle innledningene til en brødtekst tag
    p Brødtekst: Gorine kan tilby mye godt av både salater og pålegg. I våre produkter bruker vi friske råvarer og naturlige ingredienser. Gorine finner du i flere dagligvarebutikker.
        br
    p Gorine har fått ny drakt og vårt utvalg av Gorinesalater finner du i disse boksene.
    p Her skal det være et bilde
    p Rekesalat / Potetsalat / Italiensk salat /Crabstick
        br
    p Her skal det være et bilde
    p Kreolsk Kyllingssalat / Eggesalat med reker / Krepsesalat /Eggesalat