extends layout

block content
  h1= title
  p Vi har satt opp fire forslag til skalldyrbord som ett utgangspunkt. Men har du andre ønsker kan vi skaffe det meste, ta kontakt med oss så får du ett tilbud.
  
  
    h5 Skalldyrbord nr 1 - kr 229,-
    h6 Består av:
    h6 Reker, fyltekrabbeskjell, blåskjell, røykelaks og eggerøre, brød, smør, majones, sitron, salat, potetsalat.
        br
        br
        
    h5 Skalldyrbord nr 2 - kr 329,-
    h6 Består av:
    h6 Nr 1, men i tillegg får du med: kamskjell, grønnskjell, pepperlaks, scampispyd, kreps.
        br
        br
    
    h5 Skalldyrbord nr 3 - kr 499,-
    h6 Består av:
    h6 Nr 1 og 2, men i tillegg får du med: hummer, kongekrabbe, aioli.
        br
        br

    h5 Rekebord - kr 179,-
    h6 Består av:
    h6 Ferske reker, med brød, smør, sitron, majones

    

