extends layout

block content
  h1= title
  p Vi har satt opp fire forslag til skalldyrbord som ett utgangspunkt. Men har du andre ønsker kan vi skaffe det meste, ta kontakt med oss så får du ett tilbud.
  
  
    .row.demo-tiles
        .col-xs-3
          .tile.tile-hot
            img.tile-image.bigillustration(src="images/1.gif", alt="Skalldyr 1")
            h3.tile-title(Web Oriented)
            p Skalldyrbord 1
            p Innkluderer: Reker, fyltekrabbeskjell, blåskjell, røykelaks og eggerøre, brød, smør, majones, sitron, salat, potetsalat.
            a.btn.btn-primary.btn-large.btn-block(href="#") Kun kr 229,-!
    
    
        .col-xs-3
          .tile
            img.tile-image.bigillustration(src="data/1.jpg", alt="Skalldyrbord 2")
            .h3.tile-title(Web Oriented)
            p Skalldyrbord 2
            p Som nr 1, men i tillegg får du med: kamskjell, grønnskjell, pepperlaks, scampispyd, kreps.
            a.btn.btn-primary.btn-large.btn-block(href="#") Kun kr 329,-!
        
    
        .col-xs-3
          .tile
            img.tile-image.bigillustration(src="images/napoleon.jpg", alt="Skalldyr 3")
            .h3.tile-title(Web Oriented)
            p Skalldyrbord 3
            p Som nr 1 og 2, men i tillegg får du med: hummer, kongekrabbe, aioli.
            a.btn.btn-primary.btn-large.btn-block(href="#") Kun kr 499,-!
    
    
        .col-xs-3
          .tile
            img.tile-image.bigillustration(src="images/napoleon.jpg", alt="Rekebord")
            .h3.tile-title(Web Oriented)
            p Rekebord
            p Innkluderer: Ferske reker, med brød, smør, sitron, majones.
            a.btn.btn-primary.btn-large.btn-block(href="#") Kun kr 499,-!

