extends layout

block content
    .container-fluid
        .row#koldtbord
            h1= title    
            p Koldtbord er svært populært og velges ofte til konfirmasjoner og andre store selskap. Kanskje ikke så rart – det er sosialt, kontaktskapende og alle kan forsyne seg med det de liker best.    
            p Vi kan skreddersy et koldbord etter din smak, eller du kan velge vår standardmeny. Maten blir levert på delikate fat og er pent anrettet. Vil du ha ekstra varmretter, skalldyr, ost, desserter eller noe annet spesielt, blir vi enige om prisen når du kontakter oss.
            
        .row
            h3 Koldtbord
            .col-xs-4
                img(src='http://profile.ak.fbcdn.net/hprofile-ak-xfa1/v/t1.0-1/c0.0.200.200/p200x200/10152402_1424433597811893_1943447121278280154_n.jpg?oh=e545800cc4f93d1199ebbb5b80458f08&oe=54386E92&__gda__=1414056583_a153d702905bebd7d7a08143360c1d89', alt="Koldtbord")
                p
                    strong Standard koldtbord
                p Innkluderer: Aspic/reker, Røkt laks m/eggerøre, Kylling m/grøntsalat, Biffkaker m/løk, Roastbiff, Svinestek, Skinke, Rekesalat, Waldorfsalat, Potetsalat, Brød, Smør, Majones, Remulade, Dressing
                p Minimum 10 personer
                p 
                    em Kun kr 229,-!
              
            
            .col-xs-4
                img(src='http://meat-sale.com/img/the_complete_treat.jpg', alt="Spekefat")
                p
                    strong Spekefat
                p Maten består av: 7 sorter spekepålegg – Eggerøre – Potetsalat – Flatbrød – Brød – Rømme – Smør
                p Minimum 6 personer
                p 
                    em Kun kr 189,-!
            
            
            .col-xs-4
                img(src='http://iledefrancecheese.com/images/stories/rapidrecipe/Al-9.jpg', alt="Ostefat")
                p
                    strong Ostefat
                p 200gram ost pr. person minimum 7 sorter. Fatet er pyntet med tilbehør som druer, paprika, stangselleri, grønt og reddik.
                p Minimum 4 personer. Tillegg for kjeks kr 10 pr. person.
                p 
                    em Kun kr 99,-!
         
        
        .row#foretter
            h3 Foretter
            p Vi har ett bredt utvalg av selskapsmat som passer til de fleste anledninger, enten de være seg bryllup, konfirmasjon eller andre festlige arrangementer.
            .col-xs-3
                img(src='http://www.thereviewconnection.com/img/Dorr-Lobster-Company-2.jpg', alt="Grillet kamskjell")                 
                p
                    strong Grillet kamskjell
                p Innkluderer: Pinjekjerner, parmaskinke, paprika og salat
                p 
                    em Kun kr 89,-!
              
        
            .col-xs-3
                img(src='http://www.delish.com/cm/goodhousekeeping/images/greek-fish-soup-1007-de.jpg', alt="Kremet fiskesuppe")                
                p
                    strong Kremet fiskesuppe
                p 
                    em Kun kr 99,-!
        
        
            .col-xs-3
                img(src='http://amatteroftaste.ca/wordpress/wp-content/uploads/2013/07/mangovinsalad.jpg', alt="Mozzarella og aspargessalat med parmaskinke")
                p
                    strong Mozzarella og aspargessalat med parmaskinke
                p 
                    em Kun kr 89,-!
                    
                
            .col-xs-3
                img(src='http://oppskrift.klikk.no/multimedia/2008.08.27/50575767d05abede063df015/035122_BIG.jpg', alt="Spekeskinke med honningmelon")                
                p
                    strong Spekeskinke med honningmelon
                p 
                    em Kun kr 79,-!
                
                
        .row
            .col-xs-3
                img(src='http://oppskrift.klikk.no/multimedia/2008.08.27/50576113d05abede063dfd96/039946_BIG.jpg', alt="Avocado med skalldyr")
                p
                    strong Avocado med skalldyr
                p 
                    em Kun kr 79,-!
              
        
            .col-xs-3
                img(src='http://www.cookedspecially.com/static/21/871_Chopped_Salad200x200.jpg', alt="Fylt terteskjell")
                p
                    strong Fylt terteskjell
                p 
                    em Kun kr 79,-!
                
        
        
        .row#kjott  
            h3 Kjøtt    
            .col-xs-3
                img(src='http://www.bunngourmet.com/images/products/BFG41112_Boneless_ribeye_6_4_2009_10_29_15_AM.jpg', alt="Grillmeny 'trippel'")
                p
                    strong Grillmeny (trippel)
                p Okse indrefilet, svin indrefilet og lammestek i milde marinader som serveres m/fløtegratinerte poteter, peppersaus, frisk salat, dressing og potetsalat.
                p 
                    em Kun kr 289,-!
            
            
            .col-xs-3
                img(src='http://schaefers.com/wp-content/uploads/2013/10/Bunn-Meat-Blog.jpg', alt="Oksefilet")
                p
                    strong Oksefilet
                p Serveres m/fløtegratinerte poteter, frisk salat/grønnsaker, peppersaus og potetsalat.
                p 
                    em Kun kr 299,-!
    
    
            .col-xs-3
                img(src='http://www.allsuburbs.com.au/images/roast-beef-party.jpg', alt="Kalvefilet")
                p
                    strong Kalvefilet
                p Serveres m/smørdampede grønnsaker, råstekte poteter/fløtegratinerte poteter og fløtesaus.
                p 
                    em Kun kr 299,-!
    
    
            .col-xs-3
                img(src='http://static.caloriecount.about.com/images/medium/duck-meat-only-cooked-161027.jpg', alt="Grillet hjorteplomme")
                p
                    strong Grillet hjorteplomme
                p Serveres m/ristede grønnsaker, fløtegratinerte poteter/båtpoteter og viltsaus.
                p 
                    em Kun kr 280,-!
                
        .row    
            .col-xs-3
                img(src='http://photos-c.ak.fbcdn.net/hphotos-ak-xpa1/t1.0-0/p200x200/1506667_804516192898607_504631829_n.jpg', alt="Kyllingbryst")
                p
                    strong Kyllingbryst
                p Serveres m/ristede grønnsaker/frisk salat, båtpoteter og valgfri saus.
                p 
                    em Kun kr 269,-!
            
            
            .col-xs-3
                img(src='http://meat-sale.com/img/the_complete_treat.jpg', alt="Ovnsbakt hjortefilet")
                p
                    strong Ovnsbakt hjortefilet
                p Serveres m/dampede grønnsaker, fløtegratinerte poteter, tyttebær, viltsaus og soppstuing.
                p 
                    em Kun kr 329,-!
                
                
            .col-xs-3
                img(src='http://www.bunngourmet.com/images/products/t-bone_uncut_052_6_4_2009_11_20_54_AM.jpg', alt="Grillet antilopefilet")
                p
                    strong Grillet antilopefilet
                p Serveres m/fløtegratinerte poteter, dampet asparges, bakt tomat og viltsaus.
                p 
                    em Kun kr 369,-!
                
                
            .col-xs-3
                img(src='http://static.caloriecount.about.com/images/medium/squab-pigeon-meat-only-165731.jpg', alt="Reinsdyrmedaljong")
                p
                    strong Reinsdyrmedaljong
                p Serveres m/fløtegratinerte poteter/kokte poteter, grønnsaker og viltsaus.
                p 
                    em Kun kr 299,-!
                
                
        
        .row#fisk
            h3 Fisk
            .col-xs-3
                img(src='http://www.southernoxfordshire.com/assets/foodndrink/thumb_fish%20and%20chips.jpg', alt="Ovnsbakt laksefilet")
                p
                    strong Ovnsbakt laksefilet
                p Serveres m/smørdampede grønnsaker, agurksalat, kokte poteter og holandaisesaus.
                p 
                    em Kun kr 250,-!
                
                
            .col-xs-3
                img(src='http://www.bunngourmet.com/images/products/BFG13119_Swordfish_5_12_2008_3_44_35_PM.jpg', alt="Dampet steinbittfilet")
                p
                    strong Dampet steinbittfilet
                p Serveres m/grønnsaker, squash, tomat, kokte poteter og fiskesaus.
                p 
                    em Kun kr 250,-!
    
    
        .row#fav
            h3 Våre favoritter
            p Maxi Catering har ett stort utvalg av enklere middags- og lunchretter som passer godt til både små og store anledninger. Vårt utvalg av ferdigsmurte baguetter kan også anbefales til lunch eller frokost. Se vår rikholdige meny og la deg friste.
        
            .col-xs-3
                img(src='http://3.bp.blogspot.com/_N6m6xa31CEM/TANIv3pyWWI/AAAAAAAAAPE/ad10CJ-WDck/s200/Appetizer+Meatballs1.jpg', alt="Kjøttkaker")
                p
                    strong Kjøttkaker
                p Våre kjøttkaker serveres med brun saus, ertestuing, grønnsaker og grøntsalat.
                p 
                    em Kun kr 119,-!
              
        
            .col-xs-3
                img(src='http://www.ungkarskokken.com/wordpress/wp-content/uploads/2013/04/lapskaus3-200x200.jpg', alt="Lapskaus")
                p
                    strong Lapskaus
                p Vår populære lapskaus leveres med flatbrød og smør.
                p 
                    em Kun kr 79,-!
        
        
            .col-xs-3
                img(src='http://s2.grouprecipes.com/images/recipes/200/6790948919.jpg', alt="Sweet`n sour gryte")
                p
                    strong Sweet`n sour gryte
                p Vår Stroganoff-/Kylling-/Sweet`n sour gryte levers med ris, baguetter og grøntsalat.
                p 
                    em Kun kr 119,-!
       
            
            .col-xs-3
                img(src='http://content.everydayhealth.com/sbd2/cms/dd-turkey-sausage-article.jpg', alt="Pølsegryte")
                p
                    strong Pølsegryte
                p Leveres med baguetter og grøntsalat.
                p 
                    em Kun kr 99,-!
                
        .row
            .col-xs-3
                img(src='http://assets.mydish.co.uk/interface/members/235549/Chicken%20Lasagne%20brooky.jpg', alt="Lasagne")
                p
                    strong Lasagne
                p Leveres med baguetter og grønsalat.
                p 
                    em Kun kr 119,-!  
                
            .col-xs-3
                img(src='http://s1.grouprecipes.com/images/recipes/200/9440480275.jpg', alt="Oksesteik")
                p
                    strong Oksesteik
                p Leveres med grønnsaker, kokte poteter, saus og tyttebær.
                p 
                    em Kun kr 189,-!  
                
                
            .col-xs-3
                img(src='http://meat-sale.com/img/the_complete_treat.jpg', alt="Svinesteik")
                p
                    strong Svinesteik
                p Leveres med grønnsaker, kokte poteter, saus og tyttebær.
                p 
                    em Kun kr 169,-!
                
       
            .col-xs-3
                img(src='http://schaefers.com/wp-content/uploads/2013/10/Bunn-Meat-Blog.jpg', alt="Reinsdyrsteik")
                p
                    strong Reinsdyrsteik
                p Leveres med grønnsaker, kokte poteter, saus og tyttebær.
                p 
                    em Kun kr 269,-!  
            
            
        .row  
            .col-xs-3
                img(src='http://www.heb.com/static/images/pepper-garlic-crusted-steak-200x200.jpg', alt="Lammesteik")
                p
                    strong Lammesteik
                p Leveres med grønnsaker, kokte poteter, saus og tyttebær.
                p 
                    em Kun kr 260,-!
    
            
            .col-xs-3
                img(src='http://www.allthingscheese.com/wp-content/uploads/2008/02/cheesy-steak-burrito.jpg', alt="Kyllinglår")
                p
                    strong Kyllinglår
                p Leveres med ris, baguetter og grøntsalat.
                p 
                    em Kun kr 99,-!
                
            
            .col-xs-3
                img(src='http://images.agoramedia.com/cs/eh/cs_Tricolor_Steak_article.jpg', alt="Carbonara")
                p
                    strong Carbonara
                p Leveres med salat og baguetter.
                p 
                    em Kun kr 119,-!
                
        
            .col-xs-3
                img(src='http://gigharbormizu.com/wp-content/uploads/2014/06/tuna-steak.jpg', alt="Karbonader")
                p
                    strong Karbonader
                p Leveres med potetsalat, grøntsalat og baguetter.
                p 
                    em Kun kr 99,-!
                
                
           
        .row#baguetter
            h3 Baguetter 
            .col-xs-3
                img(src='http://matfeed.se/wp-content/uploads/tdomf//8292/baugett-200x200.jpg', alt="Ost/skinke")
                p
                    strong Ost/skinke
                p 
                    em Kun kr 39,90,-!
                
            
            .col-xs-3
                img(src='http://www.xn--blstad-qua.no/upload/200/03_skinkebaguet.jpg?cache=822187', alt="Reker/majones")
                p
                    strong Reker/majones
                p 
                    em Kun kr 49,90,-!
                
    
            .col-xs-3
                img(src='http://www.svt.se/cachable_image/1395850885/gokvall/recept/article1925150.svt/alternates/square/baguette.jpg', alt="Roastbiff/potetsalat")
                p
                    strong Roastbiff/potetsalat
                p 
                    em Kun kr 49,90,-!
                
    
            .col-xs-3
                img(src='http://www.laudonskok.se/wp-content/uploads/2013/06/200-baguetter.jpg', alt="Karbonader/potetsalat")
                p
                    strong Karbonader/potetsalat
                p 
                    em Kun kr 49,90,-!