extends layout

block content
    .container-fluid
        .row
            h1 Velkommen til Maxi Catering!     
            img(src='http://placehold.it/800x200', alt="Header", align="center")
            p Hos Maxi Catering legger vi stor vekt på personlig og god service, slik at du alltid kan føle deg trygg på at alt går som det skal hva angår mat og servering. Når du har selskap skal du kunne slappe av og glede deg over både gjestene og maten. Så la oss ta oss av det praktiske, slik at du kan nyte.        
            p Vi har en rikholdig meny som består av alt fra ferdigsmurte smørbrød og rundstykker til havets delikatesser og spanske tapas. Alt pent anrettet og dandert. Catering hos oss betyr variasjon og matkvalitet, levert der du ønsker.
            p Så la oss ta oss av mat og servering neste gang du skal ha selskap, slik at du kan konsentrere deg om det morsomste, nemlig å sørge for at dine gjester trives og slapper av. Da får dere alle en hyggelig dag eller kveld dere kan minnes med glede. Og tenk så deilig å kunne gå hjem når festen er ferdig, og overlate oppryddingen til noen andre. Catering hos oss er ikke bare mat, men full pakke!
        
        .row
            .col-xs-3
                img(src='http://placehold.it/200x150', alt="#Oksefilet servert med fløtegratinerte poteter, frisk salat/grønnsaker, peppersaus og potetsalat")
                p Hva med en oksefilet som hovedrett?
                p Serveres m/fløtegratinerte poteter, frisk salat/grønnsaker, peppersaus og potetsalat.
                p Kun kr 299,-!
                a(href='/hovedretter/koldtbord').btn.btn-block.btn-lg.btn-inverse Hovedretter
                
            .col-xs-3
                img(src='http://placehold.it/200x150', alt="Smørbrød til enhver anledning")
                p Vi serverer også smørbrød av høyeste kvalitet.
                p Vi lager antall smørbrød og utvalg etter dine ønsker.
                p Fra kr 29,90,-!
                a(href='/hovedretter/tapas').btn.btn-block.btn-lg.btn-inverse Småretter
            
            .col-xs-3
                img(src='http://placehold.it/200x150', alt="Desserter")
                p Noe godt og søtt til slutt?
                p Vi tilbyr både kaker, tradisjonelle desserter og våre spesialiteter.
                p Fra kr 59,90,- !
                a(href='/hovedretter/koldtbord').btn.btn-block.btn-lg.btn-inverse Desserter
                
            .col-xs-3
                img(src='http://placehold.it/200x150', alt="Kokk og Servitør")
                p Kokk og Servitør
                p Vi kan være behjelpelig med å skaffe kokk og servitører til ditt selskap. 
                p Ta kontakt med oss så ser vi på mulighetene som finnes.
                a(href='/hovedretter/koldtbord').btn.btn-block.btn-lg.btn-inverse Kontakt oss!