extends layout

block content
  h1= title
  p Nedenfor finner du vårt utvalg av Julemat for 2013.

  
    .row
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Varm julemat")
            h3.tile-title(Web Oriented)
            p Varm julemat
            p Innkluderer: Nystekt ribbe – pinnekjøtt – medisterkaker – poteter – kålrotstappe – surkål – rødkål – saus – sky og tyttebær.
            p Kun kr 270,-!
            
            
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Kombi")
            .h3.tile-title(Web Oriented)
            p Kombinert varm og kald julemat
            p I tillegg til det varme, blir det servert: Salt lammelår m/kålrot, persesylte, nellikflesk, laks og eggerøre, sursild, sennepsild, rødbeter, potetsalat, brød og smør.
            p Kun kr 359,-!
            
            
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Juletallerken")
            .h3.tile-title(Web Oriented)
            p Juletallerken
            p Innkluderer: Roastbiff,  salt lammelår,  persesylte,  ribbe,  medisterkaker og tilbehør.
            p Ekstra for oppvarmet  ribbe og medisterkaker: + kr 20 per person
            p Kun kr 99,-!
            
            
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Julekoldtbordet")
            .h3.tile-title(Web Oriented)
            p Julekoldtbordet
            p Innkluderer: Salt lammelår med kålrot, kald ribbe med rødkål, persesylte, kalvesuss, roastbiff, lammerull, laks og eggerøre, sursild, sennep sild, syltet agurk, rødbeter og potetsalat. Brød og smør er også en selvfølge.
            p Kun kr 249,-!
        
    .row    
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Desserten")
            .h3.tile-title(Web Oriented)
            p Desserten
            p Velg mellom: Riskrem med rødsaus, Ostekake, Karamellpudding, Multekrem, Riskrem.
            p Kun kr 59,-!
        
