extends layout

block content
  h1= title
  p Nedenfor finner du vårt utvalg av Julemat for 2013.

    h5 Årets utvalg
        br

    h5 Varm julemat - kr 270,-
    h6 Nystekt ribbe – pinnekjøtt – medisterkaker – poteter – kålrotstappe – surkål – rødkål – saus – sky og tyttebær.
        br
        br

    h5 Kombinert varm og kald julemat - kr 359,-
    h6 I tillegg til det varme blir det servert: Salt lammelår m/kålrot – persesylte – nellikflesk – laks og eggerøre – sursild – sennepsild – rødbeter – potetsalat – Brød og Smør.
        br
        br

    h5 Juletallerken - kr 99,-
    h6 Denne retten består av: Roastbiff – salt lammelår – persesylte – ribbe – medisterkaker og tilbehør.
    p Ekstra for oppvarmet  ribbe og medisterkaker: + kr 20 per person
        br
        br
        
    h5 Julekoldtbordet - kr 249,-
    h6 La deg friste av: Salt lammelår med kålrot – kald ribbe med rødkål – persesylte – kalvesuss – roastbiff – lammerull – laks og eggerøre – sursild – sennep sild – syltet agurk – rødbeter og potetsalat. Brød og smør er også en selvfølge.
        br
        br
        
    h5 Desserten - kr 59,-
    h6 Som en naturlig avslutning på et godt julemåltid vil vi foreslå en av disse tradisjonelle desserter:
    p Riskrem med rødsaus
    p Ostekake
    p Karamellpudding
    p Multekrem
    p Riskrem