extends layout

block content
  h1= title
    p Noe godt og søtt til slutt? Vi serverer smakfulle napoleonskaker, kringler og kransekaker. Skulle det være noen andre ønsker er vi svært imøtekommende.
    
    .row.demo-tiles
        .col-xs-3
          .tile
            img.tile-image.bigillustration(src='./kringle.jpg', alt='Kringle')
            h3.tile-title(Web Oriented)
            p Kransekake
            a.btn.btn-primary.btn-large.btn-block(href="#") Ring nå!
          
    
        .col-xs-3
          .tile
            img.tile-image.bigillustration(src='images/kringle.jpg', alt='Kringle')
            .h3.tile-title(Web Oriented)
            p Kringle
            a.btn.btn-primary.btn-large.btn-block(href="#") Ring nå!
    
    
        .col-xs-3
          .tile.tile-hot
            img.tile-image.bigillustration(src="images/napoleon.jpg", alt="Napoleon")
            .h3.tile-title(Web Oriented)
            p Napoleonskake
            a.btn.btn-primary.btn-large.btn-block(href="#") Ring nå!
            
            
    p Vi fører også store og flotte bløtekaker i følgende prisklasser og størrelser:
    
        p str1) 1 lag 7 - 8 pers kr 275
        p str2) 1 lag 10 - 12 pers kr 390            
        p str3) 2 lag 16 pers kr 480
        p str4) 2 lag 20 pers kr 560
        p str5) 2 lag 24 pers kr 630            
        p str6) 2 lag 30-35 pers kr 990
        p str7) 2 lag 40-45 pers kr 1190