extends layout

block content
  h1= title
    p Noe godt og søtt til slutt? Vi serverer smakfulle napoleonskaker, kringler og kransekaker. Skulle det være noen andre ønsker er vi svært imøtekommende.
    
    .row
        .col-xs-4
            img.tile-image.bigillustration(src='http://placehold.it/300x200', alt='Kringle')
            h3.tile-title(Web Oriented)
            p Kransekake
          
    
        .col-xs-4
            img.tile-image.bigillustration(src='http://placehold.it/300x200', alt='Kringle')
            .h3.tile-title(Web Oriented)
            p Kringle
    
    
        .col-xs-4
            img.tile-image.bigillustration(src='http://placehold.it/300x200', alt="Napoleon")
            .h3.tile-title(Web Oriented)
            p Napoleonskake
            
            
    p Vi fører også store og flotte bløtekaker i følgende prisklasser og størrelser:
    
    ul
        li str1) 1 lag 7 - 8 pers kr 275
        li str2) 1 lag 10 - 12 pers kr 390            
        li str3) 2 lag 16 pers kr 480
        li str4) 2 lag 20 pers kr 560
        li str5) 2 lag 24 pers kr 630            
        li str6) 2 lag 30-35 pers kr 990
        li str7) 2 lag 40-45 pers kr 1190