extends layout

block content
  h1= title
    .container.shop
    p.intro Noe godt og søtt til slutt? Vi serverer smakfulle napoleonskaker, kringler og kransekaker. Skulle det være noen andre ønsker er vi svært imøtekommende. Vi fører også store og flotte bløtekaker i følgende prisklasser og størrelser
            br
            br
    .shop-title Vårt utvalg:
    
    .shop-style
        ul
            li Størrelse 1: 1 lag 7 - 8 pers kr 275           
            li Størrelse 2: 1 lag 10 - 12 pers kr 390            
            li Størrelse 3: 2 lag 16 pers kr 480 
            li Størrelse 4: 2 lag 20 pers kr 560            
            li Størrelse 5: 2 lag 24 pers kr 630                    
            li Størrelse 6: 2 lag 30-35 pers kr 990            
            li Størrelse 7: 2 lag 40-45 pers kr1190
           

    p.addinfo Alle kaker leveres med vaniljekrem som standard men kan velges bort hvis ønskelig.
    p.addinfo Fylltyper: bringebær, jordbær, aprikos, ananas og fersken.
    p.addinfo Kan suppleres med krokan, banan eller valnøtter.