extends layout

block content
  h1= title
    //Brødtekst
    p Vi kan være behjelpelig med å skaffe kokk og servitører til ditt selskap. 
    p Ta kontakt med oss så ser vi på mulighetene som finnes.