extends layout

block content
  h1= title
  
    p Koldtbord er svært populært og velges ofte til konfirmasjoner og andre store selskap. Kanskje ikke så rart – det er sosialt, kontaktskapende og alle kan forsyne seg med det de liker best.

    p Vi kan skreddersy et koldbord etter din smak, eller du kan velge vår standardmeny. Maten blir levert på delikate fat og er pent anrettet. Vil du ha ekstra varmretter, skalldyr, ost, desserter eller noe annet spesielt, blir vi enige om prisen når du kontakter oss.
    
    h3 Vårt utvalg
        br
        
    h5 Standard koldtbord - kr 229
    h6 Aspic/reker – Røkt laks m/eggerøre – Kylling m/grøntsalat – Biffkaker m/løk – Roastbiff – Svinestek – Skinke – Rekesalat – Waldorfsalat – Potetsalat – Brød – Smør – Majones – Remulade – Dressing
    p Minimum 10 personer
        br
        br
 
    h5 Spekefat - kr 169
    h6 Maten består av: 7 sorter spekepålegg – Eggerøre – Potetsalat – Flatbrød – Brød – Rømme – Smør
    p Minimum 6 personer
        br
        br
        
    h5 Ostefat - kr 79
    h6 200gram ost pr. person minimum 7 sorter. Fatet er pyntet med tilbehør som druer, paprika, stangselleri, grønt og reddik.
    p Minimum 4 personer. Tillegg for kjeks kr 10 pr. person.
