extends layout

block content
    h1 Hovedretter
  
    ol.list
        li
            a(href='#koldtbord') Koldtbord
        li
            a(href='#foretter') Foretter
        li
            a(href='#kjott') Kjøtt
        li
            a(href='#fisk') Fisk
        li
            a(href='#fav') Våre Favoritter
        li
            a(href='#baguetter') Baguetter
    
    
    p Koldtbord er svært populært og velges ofte til konfirmasjoner og andre store selskap. Kanskje ikke så rart – det er sosialt, kontaktskapende og alle kan forsyne seg med det de liker best.

    p Vi kan skreddersy et koldbord etter din smak, eller du kan velge vår standardmeny. Maten blir levert på delikate fat og er pent anrettet. Vil du ha ekstra varmretter, skalldyr, ost, desserter eller noe annet spesielt, blir vi enige om prisen når du kontakter oss.
    
    .row.demo-tiles
        h3#koldtbord Koldtbord
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Koldtbord")
            h3.tile-title(Web Oriented)
            p Standard koldtbord
            p Innkluderer: Aspic/reker, Røkt laks m/eggerøre, Kylling m/grøntsalat, Biffkaker m/løk, Roastbiff, Svinestek, Skinke, Rekesalat, Waldorfsalat, Potetsalat, Brød, Smør, Majones, Remulade, Dressing
            p Minimum 10 personer
            p Kun kr 229,-!
          
        
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Spekefat")
            .h3.tile-title(Web Oriented)
            p Spekefat
            p Maten består av: 7 sorter spekepålegg – Eggerøre – Potetsalat – Flatbrød – Brød – Rømme – Smør
            p Minimum 6 personer
            p Kun kr 189,-!
        
        
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Ostefat")
            .h3.tile-title(Web Oriented)
            p Ostefat
            p 200gram ost pr. person minimum 7 sorter. Fatet er pyntet med tilbehør som druer, paprika, stangselleri, grønt og reddik.
            p Minimum 4 personer. Tillegg for kjeks kr 10 pr. person.
            p Kun kr 99,-!
            
        

    
     
    
    .row
    h3#foretter Foretter
    p Vi har ett bredt utvalg av selskapsmat som passer til de fleste anledninger, enten de være seg bryllup, konfirmasjon eller andre festlige arrangementer.
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Grillet kamskjell")
            h3.tile-title(Web Oriented)
            p Grillet kamskjell
            p Innkluderer: Pinjekjerner, parmaskinke, paprika og salat
            p Kun kr 89,-!
          
    
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Kremet fiskesuppe")
            .h3.tile-title(Web Oriented)
            p Kremet fiskesuppe
            p Kun kr 99,-!
    
    
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Mozzarella og aspargessalat med parmaskinke")
            .h3.tile-title(Web Oriented)
            p Mozzarella og aspargessalat med parmaskinke
            p Kun kr 89,-!
            
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Spekeskinke med honningmelon")
            .h3.tile-title(Web Oriented)
            p Spekeskinke med honningmelon
            p Kun kr 79,-!
            
            
    .row
    p
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Avocado med skalldyr")
            h3.tile-title(Web Oriented)
            p Avocado med skalldyr
            p Kun kr 79,-!
          
    
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Fylt terteskjell")
            .h3.tile-title(Web Oriented)
            p Fylt terteskjell
            p Kun kr 79,-!
            
            
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Fylt terteskjell")
            .h3.tile-title(Web Oriented)
            p Fyll inn mattittel
            p Kun kr 0,-!
            
            
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Fylt terteskjell")
            .h3.tile-title(Web Oriented)
            p Fyll inn mattittel
            p Kun kr 0,-!
    
    
    
    
    
    .row  
        h3#kjott Kjøtt
    
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Grillmeny 'trippel'")
            .h3.tile-title(Web Oriented)
            p Grillmeny (trippel)
            p Okse indrefilet, svin indrefilet og lammestek i milde marinader som serveres m/fløtegratinerte poteter, peppersaus, frisk salat, dressing og potetsalat.
            p Kun kr 289,-!
        
        
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Oksefilet")
            .h3.tile-title(Web Oriented)
            p Oksefilet
            p Serveres m/fløtegratinerte poteter, frisk salat/grønnsaker, peppersaus og potetsalat.
            p Kun kr 299,-!


        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Kalvefilet")
            .h3.tile-title(Web Oriented)
            p Kalvefilet
            p Serveres m/smørdampede grønnsaker, råstekte poteter/fløtegratinerte poteter og fløtesaus.
            p Kun kr 299,-!


        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Grillet hjorteplomme")
            .h3.tile-title(Web Oriented)
            p Grillet hjorteplomme
            p Serveres m/ristede grønnsaker, fløtegratinerte poteter/båtpoteter og viltsaus.
            p Kun kr 280,-!
            
    .row    
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Kyllingbryst")
            .h3.tile-title(Web Oriented)
            p Kyllingbryst
            p Serveres m/ristede grønnsaker/frisk salat, båtpoteter og valgfri saus.
            p Kun kr 269,-!
        
        
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Ovnsbakt hjortefilet")
            .h3.tile-title(Web Oriented)
            p Ovnsbakt hjortefilet
            p Serveres m/dampede grønnsaker, fløtegratinerte poteter, tyttebær, viltsaus og soppstuing.
            p Kun kr 329,-!
            
            
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Grillet antilopefilet")
            .h3.tile-title(Web Oriented)
            p Grillet antilopefilet
            p Serveres m/fløtegratinerte poteter, dampet asparges, bakt tomat og viltsaus.
            p Kun kr 369,-!
            
            
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Reinsdyrmedaljong")
            .h3.tile-title(Web Oriented)
            p Reinsdyrmedaljong
            p Serveres m/fløtegratinerte poteter/kokte poteter, grønnsaker og viltsaus.
            p Kun kr 299,-!
            
            
    
    .row
        h3#fisk Fisk
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Ovnsbakt laksefilet")
            .h3.tile-title(Web Oriented)
            p Ovnsbakt laksefilet
            p Serveres m/smørdampede grønnsaker, agurksalat, kokte poteter og holandaisesaus.
            p Kun kr 250,-!
            
            
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Dampet steinbittfilet")
            .h3.tile-title(Web Oriented)
            p Dampet steinbittfilet
            p Serveres m/grønnsaker, squash, tomat, kokte poteter og fiskesaus.
            p Kun kr 250,-!




    .row
    h3#fav Våre favoritter
      p Maxi Catering har ett stort utvalg av enklere middags- og lunchretter som passer godt til både små og store anledninger. Vårt utvalg av ferdigsmurte baguetter kan også anbefales til lunch eller frokost. Se vår rikholdige meny og la deg friste.
    
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Kjøttkaker")
            .h3.tile-title(Web Oriented)
            p Kjøttkaker
            p Våre kjøttkaker serveres med brun saus, ertestuing, grønnsaker og grøntsalat.
            p Kun kr 119,-!
          
    
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Lapskaus")
            .h3.tile-title(Web Oriented)
            p Lapskaus
            p Vår populære lapskaus leveres med flatbrød og smør.
            p Kun kr 79,-!
    
    
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Sweet`n sour gryte")
            .h3.tile-title(Web Oriented)
            p Sweet`n sour gryte
            p Vår Stroganoff-/Kylling-/Sweet`n sour gryte levers med ris, baguetter og grøntsalat.
            p Kun kr 119,-!
   
        
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Pølsegryte")
            .h3.tile-title(Web Oriented)
            p Pølsegryte
            p Leveres med baguetter og grøntsalat.
            p Kun kr 99,-!
            
   .row
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Lasagne")
            .h3.tile-title(Web Oriented)
            p Lasagne
            p Leveres med baguetter og grønsalat.
            p Kun kr 119,-!  
            
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Oksesteik")
            .h3.tile-title(Web Oriented)
            p Oksesteik
            p Leveres med grønnsaker, kokte poteter, saus og tyttebær.
            p Kun kr 189,-!  
            
            
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Svinesteik")
            .h3.tile-title(Web Oriented)
            p Svinesteik
            p Leveres med grønnsaker, kokte poteter, saus og tyttebær.
            p Kun kr 169,-!
            
   
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Reinsdyrsteik")
            .h3.tile-title(Web Oriented)
            p Reinsdyrsteik
            p Leveres med grønnsaker, kokte poteter, saus og tyttebær.
            p Kun kr 269,-!  
        
        
    .row  
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Lammesteik")
            .h3.tile-title(Web Oriented)
            p Lammesteik
            p Leveres med grønnsaker, kokte poteter, saus og tyttebær.
            p Kun kr 260,-!

        
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Kyllinglår")
            .h3.tile-title(Web Oriented)
            p Kyllinglår
            p Leveres med ris, baguetter og grøntsalat.
            p Kun kr 99,-!
            
        
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Carbonara")
            .h3.tile-title(Web Oriented)
            p Carbonara
            p Leveres med salat og baguetter.
            p Kun kr 119,-!
            
    
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Karbonader")
            .h3.tile-title(Web Oriented)
            p Karbonader
            p Leveres med potetsalat, grøntsalat og baguetter.
            p Kun kr 99,-!
            
            
       
    .row
        h3#baguetter Baguetter 
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Ost/skinke")
            .h3.tile-title(Web Oriented)
            p Ost/skinke
            p Kun kr 39,90,-!
            
        
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Reker/majones")
            .h3.tile-title(Web Oriented)
            p Reker/majones
            p Kun kr 49,90,-!
            

        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Roastbiff/potetsalat")
            .h3.tile-title(Web Oriented)
            p Roastbiff/potetsalat
            p Kun kr 49,90,-!
            

        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Karbonader/potetsalat")
            .h3.tile-title(Web Oriented)
            p Karbonader/potetsalat
            p Kun kr 49,90,-!
    
    
    
    
