extends layout

block content
  h1= title
  
    p Koldtbord er svært populært og velges ofte til konfirmasjoner og andre store selskap. Kanskje ikke så rart – det er sosialt, kontaktskapende og alle kan forsyne seg med det de liker best.

    p Vi kan skreddersy et koldbord etter din smak, eller du kan velge vår standardmeny. Maten blir levert på delikate fat og er pent anrettet. Vil du ha ekstra varmretter, skalldyr, ost, desserter eller noe annet spesielt, blir vi enige om prisen når du kontakter oss.
    
    .row.demo-tiles
    .col-xs-3
        img(src='http://placehold.it/200x200', alt="Koldtbord")
        h3.tile-title(Web Oriented)
        p Standard koldtbord
        p Innkluderer: Aspic/reker, Røkt laks m/eggerøre, Kylling m/grøntsalat, Biffkaker m/løk, Roastbiff, Svinestek, Skinke, Rekesalat, Waldorfsalat, Potetsalat, Brød, Smør, Majones, Remulade, Dressing
        p Minimum 10 personer
        p Kun kr 229,-!
      
    
    .col-xs-3
        img(src='http://placehold.it/200x200', alt="Spekefat")
        .h3.tile-title(Web Oriented)
        p Spekefat
        p Maten består av: 7 sorter spekepålegg – Eggerøre – Potetsalat – Flatbrød – Brød – Rømme – Smør
        p Minimum 6 personer
        p Kun kr 189,-!
    
    
    .col-xs-3
        img(src='http://placehold.it/200x200', alt="Ostefat")
        .h3.tile-title(Web Oriented)
        p Ostefat
        p 200gram ost pr. person minimum 7 sorter. Fatet er pyntet med tilbehør som druer, paprika, stangselleri, grønt og reddik.
        p Minimum 4 personer. Tillegg for kjeks kr 10 pr. person.
        p Kun kr 99,-!

    
    
    
    
