extends layout

block content
  h1= title
   
    //Droppe denne siden og heller vise ikoner i menyen som viser popup med informasjon?   
    h5 Besøksadresse
    p Maxi Catering AS
    p Stålveien 9, Tinnheia
    p 4629 Kristiansand
        br
        br
        
    h5 Telefon: 
    p 40 00 19 54
        br
        br
        
    h5 Fax:
    p 38 18 46 09
        br
        br
        
    h5 E-post:
    p post@maxicatering.no