extends layout

block content
    .container-fluid
        
      
        .row
            h1= title 
            p Kom å besøk oss, eller kontakt oss via telefon, faks eller e-post. 
            
        .row
            h5 Besøksadresse
            p Maxi Catering AS
            p Stålveien 9, Tinnheia
            p 4629 Kristiansand
        
        .row
            h5 Telefon
            p 40 00 19 54
        
        .row
            h5 Faks
            p 38 18 46 09
            
        .row
            h5 Epost
            p post@maxicatering.no