extends layout

block content
    
    h1 Kontakt  
    
    h3 Besøksadresse
    p Maxi Catering AS
    p Stålveien 9, Tinnheia
    p 4629 Kristiansand

    h3 Telefon: 
    p 40 00 19 54
        br
        br
        
    h3 Fax:
    p 38 18 46 09
        br
        br
        
    h3 E-post:
    p post@maxicatering.no