doctype html
html
    head
        title= title  
        //Import stylesheets
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/carousel.css')
        link(rel='stylesheet', href='/css/flat-ui.css')
        link(rel='stylesheet', href='/css/style.css')
    
    body
        //Main menu
        .navbar-wrapper 
            .container
                nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
                    .container
                        .navbar-header
                            button.navbar-toggle(data-toggle="collapse", data-target=".navbar-collapse")
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href="/") Maxi Catering
                        .navbar-collapse.collapse
                            ul#main-menu.nav.navbar-nav 
                               li.dropdown
                                    a.dropdown-toggle(data-toggle="dropdown", href="/hovedretter") Hovedretter
                                        span.caret
                                    span.dropdown-arrow.dropdown-arrow-inverse
                                    ul.dropdown-menu(role="meny")
                                        li
                                            a(href="/hovedretter/koldtbord") Koldtbord
                                        li
                                            a(href="/hovedretter/havets-festbord") Havets festbord
                                        li
                                            a(href="/hovedretter/julemeny") Julemeny
                                        li
                                            a(href="/hovedretter/selskapsmat") Selskapsmat
                                        li
                                            a(href="/hovedretter/lunch-og-middag") Lunch og middag
                                          
                                          
                                li.dropdown
                                    a.dropdown-toggle(data-toggle="dropdown", href="/smaretter") Småretter
                                        span.caret
                                    span.dropdown-arrow.dropdown-arrow-inverse
                                    ul.dropdown-menu(role="meny")
                                        li
                                            a(href="/smaretter/tapas") Tapas
                                        li
                                            a(href="/smaretter/smorbrod") Smørbrød
                                        li
                                            a(href="/smaretter/rundstykker") Rundstykker
                                        

                                li.dropdown
                                    a.dropdown-toggle(data-toggle="dropdown", href="/desserter") Desserter
                                        span.caret
                                    span.dropdown-arrow.dropdown-arrow-inverse
                                    ul.dropdown-menu(role="meny")
                                        li
                                            a(href="/desserter/kaker") Kaker
                                        li
                                            a(href="/desserter/vare-spesialiteter") Våre spesialiteter
                                
                                li
                                    a(href="/desserter/kaker") 
                                       
        footer
            .navbar-wrapper
                .container
                    nav.navbar.navbar-inverse.navbar-fixed-bottom(role="navigation")
                        .container
                            .navbar-footer
                                button.navbar-toggle(data-toggle="collapse", data-target=".navbar-collapse")
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            .navbar-collapse.collapse
                                //a.navbar-brand(href="/footermenu/kontakt") Kontakt oss
                                //a.navbar-brand(href="/footermenu/om-oss") Om oss
                                //a.navbar-brand(href="/footermenu/om-catering") Om catering
                                //a.navbar-brand(href="/footermenu/referanser") Referanser
                                //a.navbar-brand(href="/footermenu/kokk-og-servitor") Kokk og servitør
                                //a.navbar-brand(href="/footermenu/gorine") Gorine
                                
                                p(align='center')
                                    a(href='footermenu/om-oss') © 2014 Maxi Catering · 
                                    a(href='/footermenu/kontakt') 
                                        span.glyphicon.glyphicon-home 
                                        span Kontakt  
                                    | · 
                                    a(href='#') Back to top
                     
        block content
        //Load scripts at the end for faster loading
        script(src="/js/jquery-2.0.3.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/script.js")