extends layout

block content
  h1= title
    //lage brødtekst tag?
    p Maxi Catering har ett stort utvalg av enklere middags- og lunchretter som passer godt til både små og store anledninger. Vårt utvalg av ferdigsmurte baguetter kan også anbefales til lunch eller frokost. Se vår rikholdige meny og la deg friste.


    //Her begynner menyen
    h5 Våre favoritter
    //sett inn linje?
    h5 Kjøttkaker - kr 99,-
    h6 Våre kjøttkaker serveres med brun saus, ertestuing, grønnsaker og grøntsalat.
        br
        br
      
    h5 Lapskaus - kr 79,-
    h6 Vår populære lapskaus leveres med flatbrød og smør.
        br
        br
        
    h5 Sweet`n sour gryte - kr 119,-
    h6 Vår Stroganoff-/Kylling-/Sweet`n sour gryte levers med ris, baguetter og grøntsalat.
        br
        br
        
    h5 Pølsegryte - kr 99,-
    h6 Leveres med baguetter og grøntsalat
        br
        br

    h5 Lasagne - kr 119,-
    h6 Leveres med baguetter og grøntsalat
        br
        br
        
    h5 Oksesteik - kr 179,-
    h6 Leveres med grønnsaker, kokte poteter, saus og tyttebær.
        br
        br
        
    h5 Svinesteik - kr 169,-
    h6 Leveres med grønnsaker, kokte poteter, saus og tyttebær.
        br
        br
        
    h5 Reinsdyrsteik - kr 250,-
    h6 Leveres med grønnsaker, kokte poteter, saus og tyttebær.
        br
        br

    h5 Lammesteik - kr 240,-
    h6 Leveres med grønnsaker, kokte poteter, saus og tyttebær.
    
    h5 Kyllinglår - kr 99,-
    h6 Leveres med ris, baguetter og grøntsalat.
        br
        br
        
    h5 Carbonara - kr 99,-
    h6 Leveres med salat og baguetter.
        br
        br
        
    h5 Karbonader - kr 99,-
    h6 Leveres med potetsalat, grøntsalat og baguetter.
        br
        br
        
    //sett inn linje
    
        br
    
    //
    h3 Baguetter
        br
    h5 Ost/skinke - kr 39,90,-
    h5 Reker/majones - kr 39.90,-
    h5 Roastbiff/potetsalat - kr 39,90,-
    h5 Karbonader/potetsalat - kr 39,90,-
    