extends layout

block content
  h1= title
    p Maxi Catering har ett stort utvalg av enklere middags- og lunchretter som passer godt til både små og store anledninger. Vårt utvalg av ferdigsmurte baguetter kan også anbefales til lunch eller frokost. Se vår rikholdige meny og la deg friste.

    .row.demo-tiles
        .col-xs-3
          .tile
            img.tile-image.bigillustration(src='images/example-image.jpg', alt="Kjøttkaker")
            h3.tile-title(Web Oriented)
            p Kjøttkaker
            p Innkluderer: Våre kjøttkaker serveres med brun saus, ertestuing, grønnsaker og grøntsalat.
            a.btn.btn-primary.btn-large.btn-block(href="#") Kun kr 99,-!
          
    
        .col-xs-3
          .tile.tile-hot
            img.tile-image.bigillustration(src="images/kringle.jpg", alt="Lapskaus")
            .h3.tile-title(Web Oriented)
            p Lapskaus
            p Vår populære lapskaus leveres med flatbrød og smør.
            a.btn.btn-primary.btn-large.btn-block(href="#") Kun kr 79,-!
    
    
        .col-xs-3
          .tile
            img.tile-image.bigillustration(src="images/napoleon.jpg", alt="Sweet`n sour gryte")
            .h3.tile-title(Web Oriented)
            p Sweet`n sour gryte
            p Vår Stroganoff-/Kylling-/Sweet`n sour gryte levers med ris, baguetter og grøntsalat.
            a.btn.btn-primary.btn-large.btn-block(href="#") Kun kr 119,-!
   
   
   ul Leveres med baguetter og grønsalat
        li Pølsegryte, kr 99,-
        li Lasagne, kr 119,-
        
        .col-xs-3
          .tile
            img.tile-image.bigillustration(src="images/napoleon.jpg", alt="Oksesteik")
            .h3.tile-title(Web Oriented)
            p Oksesteik
            p Leveres med grønnsaker, kokte poteter, saus og tyttebær.
            a.btn.btn-primary.btn-large.btn-block(href="#") Kun kr 179,-!
   
        .col-xs-3
          .tile
            img.tile-image.bigillustration(src="images/napoleon.jpg", alt="Svinesteik")
            .h3.tile-title(Web Oriented)
            p Svinesteik
            p Leveres med grønnsaker, kokte poteter, saus og tyttebær.
            a.btn.btn-primary.btn-large.btn-block(href="#") Kun kr 169,-!
   
        .col-xs-3
          .tile
            img.tile-image.bigillustration(src="images/napoleon.jpg", alt="Reinsdyrsteik")
            .h3.tile-title(Web Oriented)
            p Reinsdyrsteik
            p Leveres med grønnsaker, kokte poteter, saus og tyttebær.
            a.btn.btn-primary.btn-large.btn-block(href="#") Kun kr 250,-!   
      
        .col-xs-3
          .tile
            img.tile-image.bigillustration(src="images/napoleon.jpg", alt="Lammesteik")
            .h3.tile-title(Web Oriented)
            p Lammesteik
            p Leveres med grønnsaker, kokte poteter, saus og tyttebær.
            a.btn.btn-primary.btn-large.btn-block(href="#") Kun kr 260,-!
            
            

   ul Rimelige retter til kun 99,- kr!
        li Kyllinglår, leveres med ris, baguetter og grøntsalat.
        li Carbonara, leveres med salat og baguetter.
        li Karbonader, leveres med potetsalat, grøntsalat og baguetter.


    ul Baguetter til kun 39,90,- kr !
        li Ost/skinke
        li Reker/majones
        li Roastbiff/potetsalat
        li Karbonader/potetsalat
        
    