extends layout

block content
    .container-fluid
        h1= title
        p Catering betyr levering av mat til større eller mindre grupper av mennesker, og vi hos Maxi Catering finner ingen større glede enn den å levere deg ekte matglede.
    
        .row
        h5 Catering- En bransje i vekst
        p Catering bransjen er i stadig vekst og etterspørselen etter mat levert hjem øker jevnlig. Mange har bedre økonomi nå enn før, og velger å kjøpe tjenester, slik at tiden kan brukes på det sosiale istedenfor det praktiske. Så i disse dager da tidsklemma er et faktum for de aller fleste, er det flere og flere som velger å benytte seg av catering til større eller mindre selskaper. Vi leverer catering til alle anledninger, det være seg julebord, bryllup, konfirmasjon eller private tilstelninger. Ingen selskap er for små eller for store for at du kan benytte deg av catering fra oss. Det kan være en privat fest med deg og dine venner, eller en firmafest for tohundre. Uansett kategori, leverer vi kvalitet fra A til Å.
              
        p Mange forbinder catering med snitter i en begravelse, men hos oss i Maxi Catering handler det om så mye mer. Vårt ønske er at du og dine gjester skal sitte igjen med en matopplevelse utenom det vanlige. Vi setter vår ære i å levere deg rikelige porsjoner med god hjemmelaget mat. Om du vil kan vi være med hele veien fra planlegging til opprydding, eller kun levere deg maten. Om du ønsker kan også våre kokker lage maten der selskapet er. Uansett hvordan du velger å gjøre det, er det viktigste for oss at dine behov blir ivaretatt, og at du sitter igjen med tanken om at catering fra oss var et godt og riktig valg for akkurat ditt selskap.
              
        h6 Maxi Catering tilbyr variasjon og matglede
        p Hos Maxi Catering legger vi stor vekt på personlig og god service, slik at du alltid kan føle deg trygg på at alt går som det skal hva angår mat og servering. Når du har selskap skal du kunne slappe av og glede deg over både gjestene og maten. Så la oss ta oss av det praktiske, slik at du kan nyte.
              
        blockquote Vi har en rikholdig meny som består av alt fra ferdigsmurte smørbrød og rundstykker til havets delikatesser og spanske tapas. Alt pent anrettet og dandert. Catering hos oss betyr variasjon og matkvalitet, levert der du ønsker.
              
        p Så la oss ta oss av mat og servering neste gang du skal ha selskap, slik at du kan konsentrere deg om det morsomste, nemlig å sørge for at dine gjester trives og slapper av. Da får dere alle en hyggelig dag eller kveld dere kan minnes med glede. Og tenk så deilig å kunne gå hjem når festen er ferdig, og overlate oppryddingen til noen andre. Catering hos oss er ikke bare mat, men full pakke!