extends layout

block content
  h1= title
    p Maxi Catering AS arbeider med produksjon og tilberedelse av forskjellige matretter. Våre kunder er gjerne private (catering virksomhet), men vi har også en del av vår produksjon er rettet mot storkjøkken og daligvarebutikker.
    p Bedriften ble opprettet i år 2000 har 22 ansatte. I tillegg har vi egne servitører som vi bruker ved hjemmeservering og store tilstelninger. Vi holder til i moderne produksjonslokaler ved Tinnheia like utenfor Kristiansand.Vi håper du finner informasjonen nyttig og for lyst til å bestille fra oss. Vi vil gjøre vårt ytterste for at du skal bli fornøyd.
    
