extends layout

block content
    .container-fluid
        .row
            h1 Referanser
            h6 Maxi Catering har mange fornøyde kunder og får ofte gode tilbakemeldinger.
            
        .row      
            .col-xs-6                
                p Nok en gang har jeg hatt gleden av å samarbeide med Maxi catering. (Det har blitt en del ganger - i årenes løp.) Som arrangør er det betryggende å vite at ALT blir i varetatt og at gjestene trives. Samtidig er det fint å kunne ta regien på de oppgavene som vi selv ønsker.
    
                p MC er gode bidragsytere i planleggingsfasen og kommer med nyttige innspill. Personellet er service innstilte og gjør sitt for at arrangementet skal gli smertefritt. Når man serverer mat og drikke til ca 200 mennesker hender det av og til at det kan bli oppstå situasjoner som krever ekstra opprydding og renhold. Som arrangør er det meget behaglig når "situasjonene" blir løst av velvillige MC ansatte.
                
                p Grillmenyen bestod denne gang av indrefilet av okse og svin samt lam, servert med fløtegratinerte - , båtpoteter og salater. Utfordringen med å servere maten - varm - "på den andre siden av byen"- klarte MC utmerket. Vi har bare fått gode tilbakemeldinger på maten, fra våre festdeltagere. Nydelig mat.
    
                p Det var meget behaglig å kunne gå hjem på kvelden og overlate oppryddingen til MC. Vi takker Maxi catering - for nok et vellykket arrangement og gir våre beste anbefalinger.
            
            
            .col-xs-6
                img(src='http://bcoffee.sejagat.com/wp-content/uploads/2013/11/o-HAPPY-MAN-facebook-600x400.jpg', alt="Referansebilde 1, logo")
                p Kjell Hæstad, Daglig leder røinås bilforretning.