extends layout

block content
  h1= title
  p Består av forskjellige påleggssorter som hvitost, brunost, kokt skinke, egg, gorines salater, roastbiff, laks og karbonade.
  
      .row    
        .col-xs-4
            img.tile-image.bigillustration(src='http://placehold.it/600x200', alt="Rundstykker")
            .h3.tile-title(Web Oriented)
            p Rundstykker
            p Velg mellom roastbiff, karbonade og laks.
            p Fra kr. 16,90 til kr 19,90 pr. stk
