extends layout

block content
  h1= title
    p Slideshow?
    
    p Består av forskjellige påleggssorter som hvitost, brunost, kokt skinke, egg, gorines salater, roastbiff, laks og karbonade.
    p Priser på rundstykker er fra kr. 16,90 til kr 19,90 pr. stk med finere pålegg som – roastbiff, karbonade og laks.
