extends layout

block content
  h1= title
    
    p Vi har ett bredt utvalg av selskapsmat som passer til de fleste anledninger, enten de være seg bryllup, konfirmasjon eller andre festlige arrangementer.
    h3 Foretter 
    
    .row
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Grillet kamskjell")
            h3.tile-title(Web Oriented)
            p Grillet kamskjell
            p Innkluderer: Pinjekjerner, parmaskinke, paprika og salat
            p Kun kr 89,-!
          
    
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Kremet fiskesuppe")
            .h3.tile-title(Web Oriented)
            p Kremet fiskesuppe
            p Kun kr 99,-!
    
    
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Mozzarella og aspargessalat med parmaskinke")
            .h3.tile-title(Web Oriented)
            p Mozzarella og aspargessalat med parmaskinke
            p Kun kr 89,-!
            
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Spekeskinke med honningmelon")
            .h3.tile-title(Web Oriented)
            p Spekeskinke med honningmelon
            p Kun kr 79,-!
            
            
    .row
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Avocado med skalldyr")
            h3.tile-title(Web Oriented)
            p Avocado med skalldyr
            p Kun kr 79,-!
          
    
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Fylt terteskjell")
            .h3.tile-title(Web Oriented)
            p Fylt terteskjell
            p Kun kr 79,-!
    
    
    
    h3 Hovedretter Kjøtt
    .row
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Grillmeny 'trippel'")
            .h3.tile-title(Web Oriented)
            p Grillmeny (trippel)
            p Okse indrefilet, svin indrefilet og lammestek i milde marinader som serveres m/fløtegratinerte poteter, peppersaus, frisk salat, dressing og potetsalat.
            p Kun kr 289,-!
        
        
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Oksefilet")
            .h3.tile-title(Web Oriented)
            p Oksefilet
            p Serveres m/fløtegratinerte poteter, frisk salat/grønnsaker, peppersaus og potetsalat.
            p Kun kr 299,-!


        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Kalvefilet")
            .h3.tile-title(Web Oriented)
            p Kalvefilet
            p Serveres m/smørdampede grønnsaker, råstekte poteter/fløtegratinerte poteter og fløtesaus.
            p Kun kr 299,-!


        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Grillet hjorteplomme")
            .h3.tile-title(Web Oriented)
            p Grillet hjorteplomme
            p Serveres m/ristede grønnsaker, fløtegratinerte poteter/båtpoteter og viltsaus.
            p Kun kr 280,-!
            
    .row    
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Kyllingbryst")
            .h3.tile-title(Web Oriented)
            p Kyllingbryst
            p Serveres m/ristede grønnsaker/frisk salat, båtpoteter og valgfri saus.
            p Kun kr 269,-!
        
        
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Ovnsbakt hjortefilet")
            .h3.tile-title(Web Oriented)
            p Ovnsbakt hjortefilet
            p Serveres m/dampede grønnsaker, fløtegratinerte poteter, tyttebær, viltsaus og soppstuing.
            p Kun kr 329,-!
            
            
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Grillet antilopefilet")
            .h3.tile-title(Web Oriented)
            p Grillet antilopefilet
            p Serveres m/fløtegratinerte poteter, dampet asparges, bakt tomat og viltsaus.
            p Kun kr 369,-!
            
            
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Reinsdyrmedaljong")
            .h3.tile-title(Web Oriented)
            p Reinsdyrmedaljong
            p Serveres m/fløtegratinerte poteter/kokte poteter, grønnsaker og viltsaus.
            p Kun kr 299,-!
            
            
    h3 Hovedretter Fisk
    .row
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Ovnsbakt laksefilet")
            .h3.tile-title(Web Oriented)
            p Ovnsbakt laksefilet
            p Serveres m/smørdampede grønnsaker, agurksalat, kokte poteter og holandaisesaus.
            p Kun kr 250,-!
            
            
        .col-xs-3
            img.tile-image.bigillustration(src='http://placehold.it/200x200', alt="Dampet steinbittfilet")
            .h3.tile-title(Web Oriented)
            p Dampet steinbittfilet
            p Serveres m/grønnsaker, squash, tomat, kokte poteter og fiskesaus.
            p Kun kr 250,-!
