extends layout

block content
  h1= title
    
    p Vi har ett bredt utvalg av selskapsmat som passer til de fleste anledninger, enten de være seg bryllup, konfirmasjon eller andre festlige arrangementer.
    h3 Foretter 
    .row.demo-tiles
        .col-xs-3
          .tile
            img.tile-image.bigillustration(src='images/example-image.jpg', alt="Grillet kamskjell")
            h3.tile-title(Web Oriented)
            p Grillet kamskjell
            p Innkluderer: Pinjekjerner, parmaskinke, paprika og salat
            a.btn.btn-primary.btn-large.btn-block(href="#") Kun kr 89,-!
          
    
        .col-xs-3
          .tile.tile-hot
            img.tile-image.bigillustration(src="images/kringle.jpg", alt="Kremet fiskesuppe")
            .h3.tile-title(Web Oriented)
            p Kremet fiskesuppe
            a.btn.btn-primary.btn-large.btn-block(href="#") Kun kr 79,-!
    
    
        .col-xs-3
          .tile
            img.tile-image.bigillustration(src="images/napoleon.jpg", alt="Rekecocktail")
            .h3.tile-title(Web Oriented)
            p Rekecocktail
            p Vår Stroganoff-/Kylling-/Sweet`n sour gryte levers med ris, baguetter og grøntsalat.
            a.btn.btn-primary.btn-large.btn-block(href="#") Kun kr 79,-!


    h5 Mozzarella og aspargessalat med parmaskinke - kr 79
        br
        br
        
    h5 Spekeskinke med honningmelon - kr 79
        br
        br
        
    h5 Avocado med skalldyr - kr 79
        br
        br
        
    h5 Fylt terteskjell - kr 79
        br
        br
        
    h3 Hovedretter - Kjøtt
    h5 Grillmeny (trippel) - kr 269  
    h6 Okse indrefilet, svin indrefilet og lammestek i milde marinader som serveres m/fløtegratinerte poteter, peppersaus, frisk salat, dressing og potetsalat.
    
        br
        br
    h5 Oksefilet - kr 299
    h6 Serveres m/fløtegratinerte poteter, frisk salat/grønnsaker, peppersaus og potetsalat.
        br
        br

    h5 Kalvefilet - kr 280
    h6 Serveres m/smørdampede grønnsaker, råstekte poteter/fløtegratinerte poteter og fløtesaus.
        br
        br

    h5 Grillet hjorteplomme - kr 280
    h6 Serveres m/ristede grønnsaker, fløtegratinerte poteter/båtpoteter og viltsaus.
        br
        br
        
    h5 Kyllingfilet - kr 250
    h6 Serveres m/ristede grønnsaker/frisk salat, båtpoteter/ris og valgfri saus.
        br
        br

    h5 Ovnsbakt hjortefilet - kr 300
    h6 Serveres m/dampede grønnsaker, fløtegratinerte poteter, tyttebær, viltsaus og soppstuing.
        br
        br
        
    h5 Grillet antilopefilet - kr 340
    h6 Serveres m/fløtegratinerte poteter, dampet asparges, bakt tomat og viltsaus
        br
        br
        
    h5 Reinsdyrmedaljong - kr 280
    h6 Serveres m/fløtegratinerte poteter/kokte poteter, grønnsaker og viltsaus.
        br
        br
        
    h3 Hovedretter Fisk
    h5 Ovnsbakt laksefilet - kr 250
    h6 Serveres m/smørdampede grønnsaker, agurksalat, kokte poteter og holandaisesaus.
        br
        br
        
    h5 Dampet steinbittfilet - kr 250
    h6 Serveres m/grønnsaker, squash, tomat, kokte poteter og fiskesaus.
        br
        br