extends layout

block content
    .container-fluid
        .row#tapas
            h1= title 
            h3 Tapas – en sosial oppskrift fra Spania.        
            p Å samles rundt matbordet med tapasrettene spredt rundt omkring skaper alltid en hyggelig stemning. Vi anbefaler tapas til vennelag, seminarer, små og store samlinger hvor folk søker kontakt. Skulle det være andre ønsker til tapas menyen, kom gjerne med forslag eller spør en av våre kokker. Ønsker du endringer eller legge til noe, som for eksempel tomatsalat - bare fortell oss det, og vi skaffer det!
    
        .row
            .col-xs-4
                img(src='http://billejemallorca.dk/wp-content/uploads/2013/10/tapas-300x200.jpg', alt="Maxi Tapas")
                p
                    strong Maxi Tapas
                p Kald mat: Brød, aioli, pesto, parmaskinke, rødvinssalami, spansk potetsalat, bulghursalat med skalldyr, marinerte oliven, marinerte champignons, hvitløksreker, marinerte grønnsaker og mozzarella.
                p Varm mat: Båtpoteter med dipp, ovnsbakt kylling, spanske kjøttboller med sydspansk tomatsaus.
                p Maten leveres klar til oppvarming.
                p
                    em Kun kr 249,-!
              
        
            .col-xs-4
                img(src='http://www.virtualmallorca.com/images/mallorca-tapas.jpg', alt="Maxi Tapas Stor")
                p
                    strong Maxi Tapas Stor
                p Som Maxi tapas, men også inklusiv:
                p Kald mat: Marinert mozzarella, spansk chorizo pølse, spanske oster og diablo skjell.
                p Varm mat: Satay kylling spyd og brushetta.
                p Maten leveres klar til oppvarming.
                p
                    em Kun kr 299,-!
        
            .col-xs-4
                img(src='http://www.restaurantelaspalomas.com/v4/images/tapas.jpg', alt="Maxi Tapas De Luxe")
                p
                    strong Maxi Tapas De Luxe
                p Som Maxi Tapas stor, men også inklusiv: Serano skinke, maki-rull, spansk bondeomelett og vårrull.
                p Varm mat: Pinchos lammespyd, parmalaks og tapas pølser.
                p Dessert: Maxi panna cotta.
                p Skulle du ha andre tapasønsker som for eksempel tomatsalat - bare fortell oss det, og vi skaffer det.
                p
                    em Kun kr 399,-!
    
     
        .row
            h3 Tapas Fingermat - fra kr 15 til kr 19
            p Til mottakelser, vernissasjer, premierer og f.eks. oppvarming til selskaper. Hensikten er å skape en hyggelig stemning med noen gode smakebiter til.
            p 
                    strong Våre forslag:
            ul
                li Maki-rull fylt med sjøkreps
                li Parmalaks på pinne
                li Glasserte kamskjell med vannmelon
                li Asparges med spekeskinke
                li Chilidampet asparges med urte- og tomat tapenad
                li Spanske kjøttboller med tzatsiki
                li Reker med avokado
                li Parmaskinke med spansk potetsalat
                li Dadler med bacon
            p eller..
            ul
                li Tortilla fylt med kremost og røkelaks
                li Tortilla med pesto, kremost og spekeskinke
        
            p Minimum 10 personer
            p Skulle det være andre ønsker til tapas menyen, kom gjerne med forslag eller spør en av våre kokker.
            
        
        .row#smorbrod 
            h3 De beste smørbrødene med valgfritt pålegg. kr 29,90 pr stk
            img(src='http://www.restaurantmagazine.com/wp-content/uploads/2012/08/Turkey-Season-Opens-Early-With-The-Launch-Of-Arbys-New-Turkey-Roasters.jpg', alt="Luksus smørbrød")
            p Våre vanlige smørbrød består av nydelige loffskiver med et godt utvalg av pålegg. Her finner du oversikt over de vanligste, men vi lager også smørbrød og utvalg etter dine ønsker.
            
            p Smørbrød har vi lang erfaring med, og vi vet hvordan et godt smørbrød skal se ut og smake. Vi har et godt utvalg ferdigsmurte smørbrød, og vi er sikre på at du vil finne noe du liker. Smørbrød passer til mange anledninger- det være seg felles lunsj eller frokost på jobben, minnestunder eller mer festlige anledninger. Eller må det være en anledning forresten? Samle noen venner og la oss lage maten. Da kan dere konsentrere dere om praten og hyggen, og vi leverer dere ferdigsmurte smørbrød dere kan nyte.
            
            p 
                    strong Vårt utvalg:
            
            ul
                li Roastbiff (salat, remulade, løk, syltea gurk, tomat)
                li Laks og eggerøre (salat, dill)
                li Biffkarbonade (salat, tomat, stekt løk)
                li Rekesmørbrød (håndpillede reker, salat, majones, dill, sitron)
                li Svinestekssmørbrød (salat, surkål, agurk)
                li Ost og skinkesmørbrød (salat, tomat, agurk, paprika)
                li Smørbrød med husets salater (salat, Rekesalat/ Italiensk/ Crabstick/ Kyllingsalat/ Eggesalat med reker/ Krepsesalat/ Eggesalat )
        
        
        
            h3 Luxus smørbrød - Litt sunnere, litt mer, litt bedre.  kr 36,90 pr stk
            img(src='http://www.fftcatering.ca/images/menu/Sandwichespic.jpg', alt="Luksus smørbrød")
            p Mange ønsker å leve litt sunnere, men det skal selvfølgelig ikke bety noe for smaken. Heller motsatt tenker vi. Våre fantastiske Luxus smørbrød består av store grove skiver servert med masse deilig pålegg. Velg mellom smørbrødene i listen under, eller kom med ønsker om annet pålegg. Vi er ikke vanskelige, vi.
            ul    
                li Luxus smørbrød med roastbiff (salat, remulade, løk, sylteagurk,tomat)
                li Luxus smørbrød med laks og eggerøre (salat,dill)
                li Luxus smørbrød med biffkarbonade (salat, tomat, stekt løk)
                li Luxus rekesmørbrød (håndpillede reker, salat, majones, dill, sitron)
                li Luxus svinestekssmørbrød (salat, surkål, agurk)
                li Luxus ost og skinkesmørbrød (salat, tomat,agurk, paprika)
                li Luxusmørbrød med husets salater (salat, Rekesalat/ Italiensk/ Crabstick/ Kyllingsalat/ Eggesalat med reker/ Krepsesalat/ Eggesalat og garnityr)
            p Vi lager det utvalget og de kombinasjonene du måtte ønske.
        
            h3 Gourmet krabbesmørbrød. kr 39,90 pr stk
            img(src='http://farm2.static.flickr.com/1351/555187635_83c43a1cbe.jpg', alt="Luksus smørbrød")
            p Det siste fra Maxi Catering er våre fantastiske velfylte og smakfulle krabbesmørbrød. Nydelige loffskiver med majones, salat, masse deilig krabbekjøtt fra det herlige sørland, agurk, paprika og dill.
            p Maxi Catering elsker mat og matglede! Vi gir alltid kvalitet uansett om du bestiller tjue smørbrød til jobblunsjen eller koldtbord til tohundre. Vi er rause både med servicen og porsjonene. På våre smørbrød blir det ikke spart på ingrediensene. Du vil oppleve at vi har godt med reker i rekesalaten og mange egg i eggesalaten. Vi håper og tror du vil oppleve våre smørbrød som ekte og hjemmelaget. Gjør du det, har vi gjort noe riktig og det beviser  at her er kvalitet det vi setter høyest.
            blockquote 
                p Maxi Catering er din lokale smørbrødleverandør- velg oss neste gang anledningen byr seg. Vi er overbevist om at du ikke vil angre. For smørbrød- det kan vi!
                
        
        .row#rundstykker
            h3 Rundstykker
            img(src='http://hearthealthyhome.net/wp-content/uploads/2013/03/crescent-500x200.jpg', alt="Rundstykker")
            p Består av forskjellige påleggssorter som hvitost, brunost, kokt skinke, egg, gorines salater, roastbiff, laks og karbonade.
            p Velg mellom roastbiff, karbonade og laks.
            p Fra kr. 16,90 til kr 19,90 pr. stk
