extends layout

block content
  h1= title
  h5 Smørbrød har vi lang erfaring med, og vi vet hvordan et godt smørbrød skal se ut og smake. Vi har et godt utvalg ferdigsmurte smørbrød, og vi er sikre på at du vil finne noe du liker. Smørbrød passer til mange anledninger- det være seg felles lunsj eller frokost på jobben, minnestunder eller mer festlige anledninger. Eller må det være en anledning forresten? Samle noen venner og la oss lage maten. Da kan dere konsentrere dere om praten og hyggen, og vi leverer dere ferdigsmurte smørbrød dere kan nyte.
    
    h6 De beste smørbrødene med valgfritt pålegg. kr 29,90 pr stk
    img(src='http://placehold.it/500x200', alt="Luksus smørbrød")
    p Våre vanlige smørbrød består av nydelige loffskiver med et godt utvalg av pålegg. Her finner du oversikt over de vanligste, men vi lager også smørbrød og utvalg etter dine ønsker. 
    
    ul
        li Roastbiff (salat, remulade, løk, syltea gurk, tomat)
        li Laks og eggerøre (salat, dill)
        li Biffkarbonade (salat, tomat, stekt løk)
        li Rekesmørbrød (håndpillede reker, salat, majones, dill, sitron)
        li Svinestekssmørbrød (salat, surkål, agurk)
        li Ost og skinkesmørbrød (salat, tomat, agurk, paprika)
        li Smørbrød med husets salater (salat, Rekesalat/ Italiensk/ Crabstick/ Kyllingsalat/ Eggesalat med reker/ Krepsesalat/ Eggesalat )



    h6 Luxus smørbrød- Litt sunnere, litt mer, litt bedre.  kr 36,90 pr stk
    img(src='http://placehold.it/500x200', alt="Luksus smørbrød")
    p Mange ønsker å leve litt sunnere, men det skal selvfølgelig ikke bety noe for smaken. Heller motsatt tenker vi. Våre fantastiske Luxus smørbrød består av store grove skiver servert med masse deilig pålegg. Velg mellom smørbrødene i listen under, eller kom med ønsker om annet pålegg. Vi er ikke vanskelige, vi.
    ul    
        li Luxus smørbrød med roastbiff (salat, remulade, løk, sylteagurk,tomat)
        li Luxus smørbrød med laks og eggerøre (salat,dill)
        li Luxus smørbrød med biffkarbonade (salat, tomat, stekt løk)
        li Luxus rekesmørbrød (håndpillede reker, salat, majones, dill, sitron)
        li Luxus svinestekssmørbrød (salat, surkål, agurk)
        li Luxus ost og skinkesmørbrød (salat, tomat,agurk, paprika)
        li Luxusmørbrød med husets salater (salat, Rekesalat/ Italiensk/ Crabstick/ Kyllingsalat/ Eggesalat med reker/ Krepsesalat/ Eggesalat og garnityr)
    p Vi lager det utvalget og de kombinasjonene du måtte ønske.

    h6 Gourmet krabbesmørbrød. kr 39,90 pr stk
    img(src='http://placehold.it/500x200', alt="Luksus smørbrød")
    p Det siste fra Maxi Catering er våre fantastiske velfylte og smakfulle krabbesmørbrød. Nydelige loffskiver med majones, salat, masse deilig krabbekjøtt fra det herlige sørland, agurk, paprika og dill.
    p Maxi Catering elsker mat og matglede! Vi gir alltid kvalitet uansett om du bestiller tjue smørbrød til jobblunsjen eller koldtbord til tohundre. Vi er rause både med servicen og porsjonene. På våre smørbrød blir det ikke spart på ingrediensene. Du vil oppleve at vi har godt med reker i rekesalaten og mange egg i eggesalaten. Vi håper og tror du vil oppleve våre smørbrød som ekte og hjemmelaget. Gjør du det, har vi gjort noe riktig og det beviser  at her er kvalitet det vi setter høyest.
    p Maxi Catering er din lokale smørbrødleverandør- velg oss neste gang anledningen byr seg. Vi er overbevist om at du ikke vil angre. For smørbrød- det kan vi. :)