extends layout

block content
    h1= title
    h5 – en sosial oppskrift fra Spania.

    p Å samles rundt matbordet med tapasrettene spredt rundt omkring skaper alltid en hyggelig stemning.
    p Vi anbefaler tapas til vennelag, seminarer, små og store samlinger hvor folk søker kontakt.

    h1 Vårt utvalg av tapasretter

    h5 Maxi Tapas - kr 229
    h6 Serveres m/dampede grønnsaker, fløtegratinerte poteter, tyttebær, viltsaus og soppstuing.
    p Kald mat:
    p Brød, aioli, pesto, parmaskinke, rødvinssalami, spansk potetsalat, bulghursalat med skalldyr, marinerte oliven, marinerte champignons, hvitløksreker, marinerte grønnsaker og mozzarella.
        br 
     p Varm mat:
     p Båtpoteter med dipp, ovnsbakt kylling, spanske kjøttboller med sydspansk tomatsaus. 
     p Maten leveres klar til oppvarming.
        br
        br

    h5 Maxi Tapas Stor - kr 289
    h6 Som Maxi tapas men også inklusiv:
    p Kald mat:
    p Marinert mozzarella, spansk chorizo pølse, spanske oster og diablo skjell
        br
    p Varm mat:
    p Satay kylling spyd og brushetta ( leveres klar til oppvarming)
        br
        br

    h5 Maxi Tapas De Luxe - kr 369
    h6 Som Maxi Tapas stor men også inklusiv:
    p Serano skinke, maki-rull, spansk bondeomelett og vårrull
        br
    p Varm mat:
    p Pinchos lammespyd, parmalaks og tapas pølser.
        br
    p Dessert:
    p Maxi panna cotta.
    p Skulle du ha andre tapasønsker som for eksempel tomatsalat – bare fortell oss det, og vi skaffer det.
        br
        br
        
        
    h5 Tapas Fingermat - fra kr 15 til kr 19
    h6 Til mottagelser, vernissasjer, premierer og f.eks. oppvarming til selskaper. Hensikten er å skape en hyggelig stemning med noen gode smakebiter til.
    p Våre forslag:
    p Maki-rull fylt med sjøkreps
    p Parmalaks på pinne
    p Glasserte kamskjell med vannmelon
    p Asparges med spekeskinke
    p Chilidampet asparges med urte- og tomat tapenad
    p Spanske kjøttboller med tzatsiki
    p Reker med avokado
    p Parmaskinke med spansk potetsalat
    p Dadler med bacon
    p eller..
    p Tortilla fylt med kremost og røkelaks
    p Tortilla med pesto, kremost og spekeskinke
        br
        br

    h6 Minimum 10 personer
    h6 Skulle det være andre ønsker til tapas menyen, kom gjerne med forslag eller spør en av våre kokker.