extends layout

block content
    h1= title
    h5 – en sosial oppskrift fra Spania.

    h6 Å samles rundt matbordet med tapasrettene spredt rundt omkring skaper alltid en hyggelig stemning. Vi anbefaler tapas til vennelag, seminarer, små og store samlinger hvor folk søker kontakt. Skulle du ha andre tapasønsker som for eksempel tomatsalat - bare fortell oss det, og vi skaffer det!

   


    .row.demo-tiles
        .col-xs-3
          .tile
            img.tile-image.bigillustration(src='images/1.jpg', alt="Maxi Tapas")
            h3.tile-title(Web Oriented)
            p Maxi Tapas
            p Inneholder: Brød, aioli, pesto, parmaskinke, rødv...
            a.btn.btn-primary.btn-large.btn-block(href="#") Ta meg til retten!
          
    
        .col-xs-3
          .tile
            img.tile-image.bigillustration(src="images/kringle.jpg", alt="Maxi Tapas Stor")
            .h3.tile-title(Web Oriented)
            p Maxi Tapas Stor
            p Inneholder: Som Maxi tapas, med ekstra.
            a.btn.btn-primary.btn-large.btn-block(href="#") Se hele menyen!
    
    
        .col-xs-3
          .tile.tile-hot
            img.tile-image.bigillustration(src="images/napoleon.jpg", alt="Maxi Tapas De Luxe")
            .h3.tile-title(Web Oriented)
            p Maxi Tapas De Luxe
            p Som Maxi Tapas stor men også inklusiv...
            a.btn.btn-primary.btn-large.btn-block(href="#") Les mer! 

 


     
        
    a(href'#').btn-block.btn-lg.btn-info Maxi Tapas - kr 229,-
        p Kald mat: Brød, aioli, pesto, parmaskinke, rødvinssalami, spansk potetsalat, bulghursalat med skalldyr, marinerte oliven, marinerte champignons, hvitløksreker, marinerte grønnsaker og mozzarella.
        p Varm mat: Båtpoteter med dipp, ovnsbakt kylling, spanske kjøttboller med sydspansk tomatsaus.
        p Maten leveres klar til oppvarming.
        
    a(href'#').btn-block.btn-lg.btn-info Maxi Tapas Stor - kr 299,-  
        p Kald mat: Marinert mozzarella, spansk chorizo pølse, spanske oster og diablo skjell.
        p Varm mat: Satay kylling spyd og brushetta.
        p Maten leveres klar til oppvarming.
            
    a(href'#').btn-block.btn-lg.btn-info Maxi Tapas De Luxe - kr 399,-
        p Som Maxi Tapas stor men også inklusiv: Serano skinke, maki-rull, spansk bondeomelett og vårrull. Varm mat: Pinchos lammespyd, parmalaks og tapas pølser. 
        p Dessert: Maxi panna cotta. 
        

    h5 Tapas Fingermat - fra kr 15 til kr 19
    ul Til mottakelser, vernissasjer, premierer og f.eks. oppvarming til selskaper. Hensikten er å skape en hyggelig stemning med noen gode smakebiter til.
        li Våre forslag:
        li Maki-rull fylt med sjøkreps
        li Parmalaks på pinne
        li Glasserte kamskjell med vannmelon
        li Asparges med spekeskinke
        li Chilidampet asparges med urte- og tomat tapenad
        li Spanske kjøttboller med tzatsiki
        li Reker med avokado
        li Parmaskinke med spansk potetsalat
        li Dadler med bacon
    p eller..
    ul
        li Tortilla fylt med kremost og røkelaks
        li Tortilla med pesto, kremost og spekeskinke

    p Minimum 10 personer
    h5 Skulle det være andre ønsker til tapas menyen, kom gjerne med forslag eller spør en av våre kokker.