extends layout

block content
  h1= title
    p Etter ett smakfullt måltid er det alltid godt å avslutte med noe søtt. Vi har satt i sammen en dessertmeny som vi håper faller i smak. Merk at hver at dessert rettene koster kun kr 59,-.

    
    .row    
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Hjemmelaget karamellpudding")
            .h3.tile-title(Web Oriented)
            p Hjemmelaget karamellpudding
            p Karamellpudding er trolig verdens mest serverte festdessert, og spises over hele kloden.

            
             
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Vanilje pannacotta med skogsbær")
            .h3.tile-title(Web Oriented)
            p Vanilje pannacotta med skogsbær

            
               
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Friske jordbær med vaniljekrem/is")
            .h3.tile-title(Web Oriented)
            p Friske jordbær med vaniljekrem/is
            
            
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Creme brulèt m/skogsbær")
            .h3.tile-title(Web Oriented)
            p Creme brulèt m/skogsbær
            

    .row    
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Fromasj; jordbær-sitron-sjokolade")
            .h3.tile-title(Web Oriented)
            p Fromasj; jordbær-sitron-sjokolade
            
             
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Ostekake")
            .h3.tile-title(Web Oriented)
            p Ostekake

            
               
        .col-xs-3
            img(src='http://placehold.it/200x200', alt="Brownies")
            .h3.tile-title(Web Oriented)
            p Brownies
            
            
