extends layout

block content
  h1= title
    p Etter ett smakfullt måltid er det alltid godt å avslutte med noe søtt. Vi har satt i sammen en dessertmeny som vi håper faller i smak. Alle dessertene koster kr 59,-.

    
    p Kjør slideshow her, vise alle de lekre bildene! 